{{#linkTo 'habits.new' class='button'}}Add a habit{{/linkTo}}
<table>
  <thead>
    <tr>
      <th width='200'>Habit</th>
      {{log weekHabits}}
      {{#each weekday in FluidicSpace.saveMe}}
        <th>{{weekday.day}}</th>
        {{#each habit in weekday.habits}}
          {{log habit.title}}
        {{/each}}
      {{/each}}
    </tr>
  </thead>
</table>
<table>
  <thead>
    <tr>
      <th width="200">Habit</th>
      <th width="200">Date</th>
      <th width="200">{{today}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each controller}}
      <tr>
        <td>{{title}}</td>
        <td>{{formattedDate}}</td>
        <td><button {{action "destroyHabit" this}} class="small alert button">X</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>
