{{#linkTo 'habits.new' class='button'}}Add a habit{{/linkTo}}
<table>
  <thead>
    <tr>
      <th width='200'>Habit</th>
      {{showHabits}}
      {{#each weekday in FluidicSpace.myWeekdays}}
        <th>{{weekday}}</th>
      {{/each}}
    </tr>
  <tbody>
    {{#each habit in controller}}
      <tr>
        <td>
          {{habit.title}}
        </td>
        {{#each weekday in FluidicSpace.myWeekdays}}
          <td>
            {{habit.findDay}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
  </thead>
</table>
        <!-- {{habit.zippedDays}} -->
        <!-- {{#each day in habit.days}} -->
        <!--   <td {{action "toggleDay" day}} class='alert&#45;box alert' style='margin: 0'> -->
        <!--     {{day.state}} -->
        <!--   </td> -->
        <!-- {{/each}} -->

<table>
  <thead>
    <tr>
      <th width="200">Habit</th>
      <th width="200">Date</th>
      <th width="200">{{today}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each controller}}
      <tr>
        <td>{{title}}</td>
        <td>{{formattedDate}}</td>
        <td><button {{action "destroyHabit" this}} class="small alert button">X</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>
